@font-face {
  font-family: "Autumnne";
  src: url("./fonts/Autumnne-Bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Autumnne";
  src: url("./fonts/Autumnne-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Blakee";
  src: url("./fonts/Blakee-Bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Blakee";
  src: url("./fonts/Blakee-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Blakee";
  src: url("./fonts/Blakee-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Blakee";
  src: url("./fonts/Blakee-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
  font-family: "Blakee" !important;
}

.portfolio-box {
  width: 250px;
  height: auto;
  display: flex;
}

.portfolio-box img {
  width: 250px;
  height: auto;
}

.portfolio-box h3 {
  color: black;
  text-decoration: none;
  text-transform: none;
}

// Navigation
.main-nav {
  background-color: #181818;
  color: #fff;
  height: 65px;
  font-size: 20px;
  font-family: "Blakee", serif;
  font-weight: 400;
  // &__list {
  // }
  &__item {
    text-decoration: none;
    color: #fff;
  }
}
