@font-face {
  font-family: "Autumnne";
  src: url("./fonts/Autumnne-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Autumnne";
  src: url("./fonts/Autumnne-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Blakee";
  src: url("./fonts/Blakee-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Blakee";
  src: url("./fonts/Blakee-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Blakee";
  src: url("./fonts/Blakee-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Blakee";
  src: url("./fonts/Blakee-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: red;
  font-family: "Autumnne" !important;
}
